@import "tailwindcss";

:root {
  --color-background: #0d0d0d;
  --color-foreground: #e0e0e0;
  --color-primary: #c24e28;
  --color-secondary: #d8ad63;
  --color-accent: #ff7847;
  --color-muted: #2e2e2e;

  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

body {
  @apply bg-[var(--color-background)] text-[var(--color-foreground)] font-sans;
  scroll-behavior: smooth;
}